<nav class="navbar navbar-default">
    <div class="jumbotron container-fluid">
      <%= link_to image_tag("illuminapeye.png"), root_path, class: "navbar brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if @current_user %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= form_tag({controller: "creators", action: "search"}, method: "get", class: "navbar-form navbar-left") do %>
          <%= text_field_tag :twitterquery, params[:query], placeholder: "Search Twitter", class: "form-control" %>
          <%= submit_tag("Illuminate", class: "btn btn-default") %>
        <% end %>

        <%= form_tag({controller: "creators", action: "search"}, method: "get", class: "navbar-form navbar-left") do %>
          <%= text_field_tag :vimeoquery, params[:query], placeholder: "Search Vimeo", class: "form-control" %>
          <%= submit_tag("Illuminate", class: "btn btn-default") %>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Feed Manager", user_path(@current_user.id) %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
